

*{
  
  color:white;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

input{
  background-color: grey;
  color:white;
  width:200px;
  height:34px;
  padding:2px;
  padding-left: 5px;
}

.logos, .searchbar{
  display:flex;
  justify-content: center;
}

.search-btn button{
  color:black;
}

.logo{
  height:30px;
}

input::placeholder{
  color: antiquewhite;
}

button{
  color:white;
  height:36px;
  font-size: 15px;
  padding:5px;
  width:70px;
}

.Navbar{
  background-color: #282c34;
  display:flex;
  justify-content: space-evenly;
  height:50px;
  border-bottom: 1px solid white;
  padding:4px;
}

.top-container{
  display:flex;
  justify-content: space-around;
  margin: 5px 10px;
}

.card{
  width:400px;
  margin:3px;
  display:flex;
  padding:5px;
  background-color: lightcoral;
  
}

.read{
  width:150px;
  background-color: transparent;
  border: 1px solid white;
  margin-top: 20px;
}

.morebooks{
  margin-top: 20px;
 display: grid;
 grid-template-columns: auto auto auto auto auto auto;
}

.description{
  background-color: lightcoral;
  
  
  padding:5px;
}

.desc{
  background-color: lightcoral;
  height:300px;
  overflow: hidden;
  
  text-overflow: ellipsis;
}

.imgcontainer img{
  height:fit-content
}

.showDetails{
  background-color: rgb(81, 127, 81);
  color:white;
}

.title-pub-con{
  display: flex;
  justify-content: space-between;
  padding:2vh;
  width: 100%;
}

.pub-con, .auth-con, .desc-con{
 
  color:rgb(219, 209, 209);
 
}

button{
  cursor: pointer;
}

.auth-con{
  font-size: large;
  padding-bottom: 1vh;
}

.details-con{
  padding:2vh;
  width: 100%;
}

.other-con{
  display:flex;
}

.other-con div{
  font-weight: bolder;
  padding:2vh;
  
}

.buttons{
  display:flex;
  justify-content: end;
  padding:1vh;
}

.buttons button{
  width:15vh;
  color:rgb(219, 209, 209);
  border: 1px solid rgb(219, 209, 209);
  border-radius:5px;
  padding:1vh;
  margin:2vh;
}
